body {

}

.color-body {
    background-color: #423f3f;
    align-items: center;
}

#body {
    background-color:  #423f3f;
}

header {
    padding: 20px;
}

header h1 {
    font-weight: 700;
    margin: 0;
    color: #fafafa;
}

header nav {
    display: flex;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    background-color: #dfd6d6;
    align-items: center;
    height: 790px;
    padding-bottom: 30px;
}

#xmlContent {
    color: #fafafa;
}

#custom-search-input {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
}

.image {
    padding-left: 700px;
    padding-top: 20px;
}

.william {
    position: absolute;
    padding-left: 840px;
    padding-bottom: 20px;
}

.name-text {
    /*color: #dfd6d6;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

