body {

}

#xml-content {
    font-size: 7pt;
    margin-top: 43px;
}



.web-name:hover {
    cursor: pointer;
}

.color-body {
    background-color: #423f3f;
    align-items: center;
}

#body {
    background-color:  #423f3f;
}

header {
    padding: 20px;
}

header h1 {
    font-weight: 700;
    margin: 0;
    color: #fafafa;
}

header nav {
    display: flex;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    /*background-color: #dfd6d6;*/
    background-color: green;
    align-items: center;
    overflow: hidden;
    padding-bottom: 30px;
}

#xmlContent {
    color: #fafafa;
}

#custom-search-input {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    width: 80%;
    float: left;
}

.image {
    padding-left: 700px;
    padding-top: 20px;
}

.william {
    position: absolute;
    padding-left: 840px;
    padding-bottom: 20px;
}

.name-text {
    /*color: #dfd6d6;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.data-text {
    padding-bottom: 15px;
}

.row {
    padding-bottom: 20px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #2a2a2a;
    text-shadow: none;
    background-color: #fafafa;
    width: calc(20% - 15px);
    margin-left: 15px;
    margin-top: 30px;
    float: left;
}

